# 数据集
*.csv
*.zip
*.bz2
**/assets

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# PyCharm
.idea/
.vscode/

# 模型文件
**/bert-base-chinese/
*.pt
**/models
**/bge*

.env


**/all-MiniLM-L6-v2/
**/.msi
**/output/
**/CLAUDE.local.md
**/.langgraph_api/
**/.antigravity_cli/